<div>
  <form>
    Item Name:
    <input class="form-control" type="text" [(ngModel)]="name" name="name" />
    <br />
    Item Quantity
    <input
      class="form-control"
      type="number"
      [(ngModel)]="quantity"
      name="quantity"
    />
    <br />
    Item Price
    <input
      class="form-control"
      type="number"
      [(ngModel)]="price"
      name="price"
    />
    <br />
    <button class="btn btn-primary" (click)="saveItem()">
      Save Item {{ items.length }}
    </button>

    <button class="btn btn-info" (click)="deleteCheap()">
      Delete all Cheap Items Under ${{ threshold }} ({{ getNumCheapItems() }}
      items)
    </button>
    <h2 *ngIf="items.length <= 0">No Items in inventory</h2>
  </form>
</div>

<hr />
<table class="table table-striped" *ngIf="items.length > 0">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Cost</th>
    <th>Delete?</th>
  </tr>

  <tr *ngFor="let item of items; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity * item.price }}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteItem(i)">Del?</button>
    </td>
  </tr>
</table>
